# {{ ansible_managed }}

user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

{% if nginx.http is defined %}
http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        types_hash_max_size 2048;
{% if nginx.http.server_tokens is defined %}
        server_tokens {{ nginx.http.server_tokens }};
{% endif %}

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

{% if nginx.http.ssl is defined %}
        ssl_protocols {{ nginx.ssl.ssl_protocols }};
        ssl_prefer_server_ciphers {{ nginx.ssl.ssl_prefer_server_ciphers }};
{% else %}
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;
{% endif %}

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##
{% if nginx.http.gzip is defined %}
        gzip {{ nginx.http.gzip }};
{% else %}
        gzip on;
{% endif %}

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}
{% endif %}