# {{ ansible_managed }}

modules:
{% if synapse_shared_secret_auth is defined %}
  - module: "shared_secret_authenticator.SharedSecretAuthProvider"
    config:
      shared_secret: "{{ synapse_shared_secret_auth }}"
      m_login_password_support_enabled: true # Remove this once this isn't needed anymore
      com_devture_shared_secret_auth_support_enabled: false # this works around https://github.com/vector-im/element-web/issues/19605
{% endif %}
