# {{ ansible_managed }}

password_providers:
{% if synapse_ldap_servers is defined %}
  - module: "ldap_auth_provider.LdapAuthProvider"
    config:
      enabled: true
      mode: "search"
      uri:
{% for synapse_ldap_server in synapse_ldap_servers %}
        - {{ synapse_ldap_server }}
{% endfor %}
      start_tls: false
      base: "{{ synapse_ldap_search_base }}"
      attributes:
        uid: "uid"
        name: "{{ synapse_ldap_user_name }}"
        mail: "mail"
      filter: "(objectClass=posixAccount)"
{% if synapse_ldap_bind_dn is defined %}
      bind_dn: "{{ synapse_ldap_bind_dn }}"
      bind_password: "{{ synapse_ldap_bind_pw }}"
{% endif %}
{% endif %}

