---
- name: Create cinny appdata directory
  file:
   path: /opt/docker/appdata/cinny
   state: directory

- name: Copy Cinny hs config
  template:
   src: config.json
   dest: /opt/docker/appdata/cinny/config.json

- name: Cinny Container
  docker_container:
   name: cinny
   image: ajbura/cinny:v4.2.3
   pull: yes
   restart_policy: unless-stopped
   volumes:
    - /opt/docker/appdata/cinny/config.json:/app/config.json
   labels:
    traefik.enable: "true"
    traefik.http.routers.cinny-rtr.entrypoints: "websecure"
    traefik.http.routers.cinny-rtr.rule: Host("cinny.pikaviestin.fi")