---

element_config:
  default_server_config:
    m.homeserver:
      base_url: "{{ matrix_external_url }}"
      server_name: "{{ matrix_domain }}"
  disable_custom_urls: true
  disable_guests: true
  disable_login_language_selector: false
  disable_3pid_login: true
  brand: Element
  integrations_ui_url: https://scalar.vector.im/
  integrations_rest_url: https://scalar.vector.im/api
  integrations_widgets_urls:
    - https://scalar.vector.im/_matrix/integrations/v1
    - https://scalar.vector.im/api
    - https://scalar-staging.vector.im/_matrix/integrations/v1
    - https://scalar-staging.vector.im/api
    - https://scalar-staging.riot.im/scalar/api
  bug_report_endpoint_url: https://element.io/bugreports/submit
  "defaultCountryCode": FI
  showLabsSettings: true
  "features": {
    "feature_new_spinner": "labs",
    "feature_pinning": "labs",
    "feature_custom_status": "labs",
    "feature_custom_tags": "labs",
    "feature_state_counters": "labs"
  }
  default_federate: true
  default_theme: dark
  roomDirectory:
    servers:
      - "{{ matrix_domain }}"
  enable_presence_by_hs_url:
    "https://matrix.org": false
    "https://matrix-client.matrix.org": false
  settingDefaults:
    breadcrumbs: true
  jitsi:
    preferredDomain: "{{ jitsi_domain }}"