# {{ ansible_managed }}
homeserver_url: http://localhost:8008 # homeserver URL for the whoami request
listener: localhost:{{ 8183 + ansible_loop.index0 }} # host:port to listen to

synchrotrons:
{% for port in synapse_workers[synchrotron_workers[item]] %}
  - address: 127.0.0.1:{{ port }}
    pid_file: /run/matrix-synapse/{{ synchrotron_workers[item] }}-{{ loop.index0 }}.pid
{% endfor %}

balancer:
  interval: 2
