<td>
   <h2>Tervetuloa!</h2>
    <p>
        Kiitos rekistöröitymisestänne palveluumme. <br>
        Käytön aloittamiseksi teidän tulee vahvistaa sähköpostiosoitteenne käyttäen alla olevaa nappulaa tai linkkiä.
    </p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td> <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">Vahvista tilisi</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        Jos se ei toimi, niin kopioi ja liitä tämä linkki selaimeesi: {{ url }}
    </p>
    <p>
        Jos teillä on mitään kysyttävää, niin vastaa vain tähän sähköpostiin niin autamme mielellämme.
    </p>
</td>